<section class="currency-exchange-widget">
    <h2>Live Currency Exchange Rates
        <span>Widget loaded: {{ forexUpdateTime | date:'HH:mm:ss' }}</span>
    </h2>

    <div>
        <div *ngFor="let rate of forexRates">
            <span>
                <span [innerHTML]="getFirstFlag(rate.pair)"></span>
                {{ rate.pair }}
                <span [innerHTML]="getSecondFlag(rate.pair)"></span>
            </span> <button class="toggle-btn" (click)="togglePair(rate)" title="Switch currencies">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                    <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                    <path d="M8 13a5 5 0 1 1-4.546-2.914.5.5 0 0 0-.908.417A6 6 0 1 0 8 14v-1z"/>
                    <path d="M8 11.534v3.932a.25.25 0 0 0 .41.192l2.36-1.966c.12-.1.12-.284 0-.384l-2.36-1.966a.25.25 0 0 0-.41.192z"/>
                </svg>
            </button>
            <span>{{ rate.rate }}</span>
            <span [style.color]="rate.change > 0 ? 'green' : rate.change < 0 ? 'red' : 'inherit'">
                {{ rate.change > 0 ? '+' : '' }}{{ rate.change }}
                ({{ rate.changePercent > 0 ? '+' : '' }}{{ rate.changePercent }}%)
            </span>
           
        </div>
    </div>

    <div class="alert-info">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        Rates are updated every 60 seconds from live market data
    </div>
</section>